@import "../recursos/variables";
.formulario {
    width: 400px;
    margin: 0 auto;
    padding: 55px;
    border: 1px solid $color2;
    border-radius: 5px;
    background-color: $color4;
  
    &__titulo {
      text-align: center;
    }
  
    &__campo {
      margin-bottom: 20px;
    }
  
    &__boton {
      width: 100%;
      padding: 10px;
      background-color: $color1;
      color: $color4;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
    @media (max-width: 768px) {
      width: 300px;
      height: 473px;
    }
  }
  
  .campo {
    &__label {
      display: block;
      font-weight: bold;
    }
  
    &__input,
    &__textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
  
      &:valid {
        border-color: green;
      }
  
      &:invalid {
        border-color: red;
      }
  
      &:focus:invalid + .campo__error {
        display: block;
      }
    }
  
    &__error {
      display: none;
      color: red;
      font-size: 12px;
    }
  }