.contenedorQuinario {
    width: 100%;
    height: 99vh;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    z-index: 2;


    &__bici-button {
       
        top: 10px;
        left: 10px;
        z-index: 1;
    }


    &__bici-audio {
        background-color: #000000;
        /* Black */
        border: 2px solid #D4AF37;
        /* Gold */
        color: #D4AF37;
        /* Gold */
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 25px;
        /* Rounded corners */

        &:hover {
            background-color: #D4AF37;
            /* Gold */
            color: #000000;
            /* Black */
        }
    }


    img {
        width: 200px;
        height: 100px;
    }
}


#myThreeJsCanvas {
    top:100px;
    width: 100px;
    height: 100px;
    display: block; /* Asegúrate de que el canvas no tenga márgenes */
}


#info1 {
    
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4em;
    z-index: 1;
    color: gold;
    text-shadow: 6px 6px 4px rgba(255, 255, 255, 0.5);

    /* Asegúrate de que el div está encima del canvas */
}

#info2 {
    
    width: 240px;
    top: 80%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    z-index: 1;
    opacity: 0;
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.5);
    /* Asegúrate de que el div está encima del canvas */
}

#info3 {
    
    width: 980px;
    top: 90%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    z-index: 1;
    opacity: 0;

    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.5);
    /* Asegúrate de que el div está encima del canvas */
}

#info4 {
    
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    z-index: 1;
    opacity: 0;

    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.5);
    /* Asegúrate de que el div está encima del canvas */
}

#info5 {
    
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 2em;
    z-index: 1;
    opacity: 0;
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.5);
    /* Asegúrate de que el div está encima del canvas */
}

#contenedor p {
    width: 100%;
    /* Ajusta el tamaño del párrafo a la anchura de su contenedor */
    font-size: 1em;
    /* Ajusta el tamaño de la fuente en relación con el tamaño del div */
}