/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%; /* Importante para que el footer se quede en la parte inferior */
    margin: 0;
  }
body { 
 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    /* background-image: url("./assets/taller.jpg") ; */
    
}
main {
  flex: 1 0 auto; /* Hace que el contenido empuje el footer hacia abajo */
}
footer {
  flex-shrink: 0;
  background-color: #343a40; /* Un tono oscuro */
  color: #ffffff;
}

footer a.text-white {
  color: #ffffff;
}

footer a.text-white:hover {
  color: #cccccc; /* Cambio sutil para el hover */
}

footer h5 {
  margin-bottom: 15px;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

.footer-icon {
  font-size: 1.5em; /* Tamaño de los íconos de redes sociales */
}

