/* Estilo para centrar el contenido */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Utiliza blanco como fondo del contenedor */
}

/* Estilo para el contenido principal */
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5vh;
  color: #000000;  /* Utiliza un borde gris (#707070) para el contorno del contenido */
  background-color: #ffffff; 
}

/* Estilo para la lista de citas */
.citas-list {
  flex: 1;
  margin-right: 20px;
  overflow-y: auto;
  max-height: 80vh;
  padding: 20px;
  border-radius: 5px;
}


/* Estilo para los elementos de la lista */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-family: 'Port Condensed', sans-serif;
  margin-bottom: 10px;
  padding: 15px;
  color: #ffffff;
  background-color: #989895; /* Cambia el fondo de cada elemento de la lista al color #989895 */
  border: 1px solid #707070; /* Usa gris (#707070) para el borde */
  border-radius: 4px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

li:hover {
  box-shadow: 0 4px 8px rgba(242, 92, 5, 1);
  transform: translateX(15px);
}

button {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

strong {
  color: #333; /* Mantiene el color de texto fuerte en un tono oscuro */
}

.cita-imagen {
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
  border-radius: 5px;
}

/* Estilo para los detalles de la cita */
.cita-detalles {

  flex: 2;
  padding: 20px;
  background-color: #ffffff; /* Mantiene el fondo blanco para los detalles de la cita */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 80vh;
}

@media (max-width: 768px) {
 .content {
    flex-direction: column;
  }

 .citas-list {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
