<div class="container">
  <mat-progress-spinner *ngIf="cargando" mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="!cargando" class="content">
  <div class="citas-list" *ngIf="citas.length > 0; else noCitas">
    <ul>
      <li class="cita-item" *ngFor="let cita of citas | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index">
        <div><strong>Título de la cita:</strong> {{cita.opcion}}</div>
        <div><strong>Estado:</strong> {{cita.estado}}</div>
        <img *ngIf="cita.imagen_url" [src]="cita.imagen_url" alt="Imagen de la cita" class="cita-imagen">
        <button mat-icon-button (click)="detalles(cita.id_cita_taller)" aria-label="Más información sobre la cita">
          <mat-icon>info_outline</mat-icon>
        </button>
      </li>
    </ul>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
  <div class="cita-detalles" *ngIf="mostrarDetalles">
    <app-detalles-cita [cita]="citaSeleccionada" (cerrar)="ocultarDetalles()" (citaEliminada)="onCitaEliminada()"></app-detalles-cita>
  </div>
  <ng-template #noCitas>
    <p>No hay citas disponibles.</p>
  </ng-template>
</div>
