<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand logo-link" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" *ngIf="isUser" routerLink="/pedirCita">Pedir cita </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isUser || isAdmin" routerLink="/calendario">Calendario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isUser" routerLink="/citaAnterior">Citas Anteriores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAdmin" routerLink="/citaPendiente">Citas Pendientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isUser " routerLink="/direccion">Dirección del taller</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAdmin " routerLink="/grafica">Grafica de citas</a>
      </li>
     
      <li class="nav-item">
          <a class="nav-link" routerLink="/salir"(click)="salir()" >Salir</a>
        </li>

    </ul>
    <ul class="navbar-nav ml-auto"> <!-- Alinea a la derecha -->
      <li class="nav-item" *ngIf="isAdmin || isUser">
        <a class="nav-link" href="#">
          <i class="bi bi-person-circle"></i>
        </a>
      </li>
    </ul>


    <app-traer-nombre></app-traer-nombre>

  </div>
</nav>
<main>
  <router-outlet></router-outlet>
  <app-token></app-token>
</main>