/* En tu archivo CSS del componente, prueba usar rutas relativas sin el prefijo '~' */


.logo-link {
    margin-left:20px;
    display: inline-block;
    width: 60px;  /* Ajusta el ancho según tus necesidades */
    height: 60px; /* Ajusta la altura según tus necesidades */
    background-image: url('../logo.svg');
    background-size: cover;
    background-position: center;
  }
  a{
    font-size: large;
    font-family: 'Coach', sans-serif;
  }
  app-traer-nombre{
    
    font-size: large;
    color:gray;
    margin-bottom: 10px;
  }
 
