@import "../recursos/variables";
.contenedorSecundario {
  width: 100%;
  height: 99vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__split {
    padding-left: 3%;
    display: flex;
    align-items: center;
  }
}

.split {
  &__left, &__right {
    flex: 1;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  &__item {
    position: relative;
    width: 250px;
    transition: all 0.3s ease;

    img:first-child {
      box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
      border-radius: 4px;
      object-fit: cover;
      width: 90%;
    }

    img:last-child {
      position: absolute;
      width: 250px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transform: translateY(25%);
      transition: 0.3s ease;
      opacity: 0;
    }

    &:hover {
      transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);

      img:last-child {
        opacity: 1;
        transform: translateY(10%);
      }

      &::before {
        opacity: 1;
      }
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 90%;
      background-color: rgba(229, 111, 7, 0.653);
      background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.95));
      opacity: 0;
      transition: all 0.3s ease;
      border-radius: 4px;
    }

    &__bottom {
      top: 50px;
    }
  }
    @media (max-width: 1200px){
      &__item {
        width: 200px;
      
      img:last-child{
        width: 200px;
      }
    }
  }
  @media (max-width: 900px){
    
    &__item {
      width: 130px;
    
    img:last-child{
      width: 130px;
    }
  }
  
}
@media screen and (max-width: 768px){
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-left:25px;
  &__item {
    width: 150px;
  
  img:last-child{
    width: 150px;
  }
}
  #imgRes{
    display: none;
  }
  
}
}