canvas {
  margin-top: 2rem;
  width: 60% !important;
  height: auto !important;
}

 div{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #opcion{
   width: 100%;
   height: 100%;
 }