<mat-tab-group>
    <mat-tab label="Estado"> 
        <div >
            <canvas #chartCanvasEstado></canvas>
          </div>
    </mat-tab>
    <mat-tab label="Fecha"> 
        <div>
            <canvas #chartCanvasFecha></canvas> <!-- Canvas para gráfica de fecha -->
          </div>
    </mat-tab>
    <mat-tab label="Opciones"> 
        <div id="opcion">
            <canvas #chartCanvasOpcion></canvas> <!-- Canvas para gráfica de opciones -->
          </div>
    </mat-tab>
  </mat-tab-group>
