.contenedor-carrito{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-right: 40px;
}

.productos-carrito{
    grid-column: 1;
    border-right: solid 1.2px lightgrey;
    padding-right: 15px;
    margin-top: 23px;
}

.resumen-pago{
    grid-column: 2;
    display:flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 10px;
}

#cabecera-resumen{
    display:grid;
    grid-template-columns: repeat(6, 1fr) ;
    /* margin-top: 8px; */
    border-bottom: solid 1.2px lightgrey;
}

#lineas-productos{
    margin-top: 12px;
    display:grid;
    grid-template-columns: repeat(6, 1fr) ;
}

#importe-gastos{
    border-bottom: solid 1.2px lightgrey;
}

.botones-pago{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
