/* Estilos para la vista del login */

.portadaLogin {
    width: 100%;
    height: 60vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorlogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    border: solid 1px black;
    box-shadow: 1px 1px 0px rgb(230, 230, 230),
        2px 2px 0px rgb(200, 200, 200),
        3px 3px 0px rgb(180, 180, 180),
        4px 4px 0px rgb(160, 160, 160),
        5px 5px 0px rgb(0, 0, 0),
        8px 8px 20px rgb(0, 0, 0);
}

.contenedorImagenLogin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorImagenLogin img {
    width: 90%;
    height: auto;
    opacity: 0.25;
}

.contenedorizquierda {
    height: 100%;
}

.contenedorizquierda img {
    width: 100%;
    height: 100%;
}

.contenedorderecha {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

h2 {
    font-size: 50px;
    color: black;
    display: inline-block;
}

.loginForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.email p {
    margin: 5px;
}

.contraseña {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contraseña p {
    margin: 5px;
}

.email input,
.contraseña input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.boton-login {
    width: 55%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-login:hover {
    background-color: rgb(251, 98, 0);
}

button.ms-3 {
    background-color: black !important;
}

.ms-3:hover {
    background-color: rgb(251, 98, 0) !important;
}

/* Media query */

@media (max-width: 899px) {
    .contenedorlogin {
        width: 70%;
        grid-template-columns: 1fr;
    }

    .contenedorizquierda {
        display: none;
    }

    .contenedorderecha {
        padding: 0;
    }

    .contenedorImagenLogin img {
        width: 100%;
    }

    h2 {
        font-size: 30px;
    }

    .boton-login {
        width: 100%;
    }
}