
.compra{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    overflow-x: hidden;
}

.progreso-compra{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.paso-clickeable-datos, .paso-clickeable-confirm, .paso-clickeable-pago{
    border: solid 1px black;display: flex;
    justify-content: center;
    align-items: center;
}

.paso-clickeable-datos{
    background-color: rgb(211,211,211);
}
.contenedor-slide{
    width: 300%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
}
.contenedor-pedido {
    grid-column: 1 ;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.datospersonales {
    grid-column: 1;
    padding: 15px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 15%);
    grid-template-areas: 
        'datos datos'
        'email telefono'
        'envio envio' 
        'nombre apellidos' 
        'direccion direccion' 
        'cp ciudad';
}

.datospersonales label{
    font-size: 1em;
    color:grey;
}

.datospersonales p{
    font-size: 1.1em;
    border:solid 1px lightgrey;
    padding-left: 5px;
}

.titulo-datos-personales {
    grid-area: datos;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: solid 1.2px lightgrey;
}

.emailpedido {
    grid-area: email;
}

.telefonopedido {
    grid-area: telefono;
}

.direccion-envio{
    grid-area: envio;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: solid 1.2px lightgrey;
}

.nombrepedido {
    grid-area: nombre;
}

.apellidospedido {
    grid-area: apellidos;
}

.direccionpedido {
    grid-area: direccion;
}

.cp-ciudad {
    grid-area: cp;
}

.ciudadpedido {
    grid-area: ciudad;
}

.resumen-pedido {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    padding: 15px;    
    background-color: rgb(248, 249, 249);
}

.contenedor-forma-pago{
    width: 100%;
    padding: 20PX;
    height: 60%;
}

.selector-forma-pago{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}

.contenedor-tarjeta, .contenedor-paypal, .contenedor-transferencia{
    border: solid 1px lightgrey;
    padding: 10px;
}

.tarjeta, .paypal,
.transferencia {
    display: none;
    margin-top:10px;
    margin-left: 35px;
}

.contenedor-tarjeta-input{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a b c" "d e f";
    grid-row-gap: 10px;
}

.tarjeta.mostrar{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.paypal.mostrar{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.transferencia.mostrar{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.paypal p{
    margin-right: 20px;
}

.transferencia p{
    margin-right: 20px;
}

.tarjeta p{
    margin-right: 20px;
}

.button-disabled {
    background-color: lightgrey !important;
    color: white !important;
}

.contenedor-confirmar-pedido{
    width: 100%;
    grid-column:3;
    padding: 20px;
}

.paypal-elegido{
    display: none;
}

.transferencia-elegido{
    display: none;
}

.tarjeta-elegido{
    display: none;
}

.resumen-final{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-area: 10px;
}

.direccion-entrega p{
    display: flex;
    align-items: center;
}

.direccion-entrega span{
    margin-right: 10px;
}

#lineas-productos-pedido{
    margin-top: 12px;
    display:grid;
    grid-template-columns: repeat(4, 1fr) ;
}