<div class="example-container">
    <h2>Pendientes</h2>
    <div cdkDropList #pendienteList="cdkDropList" [cdkDropListData]="pendiente" [cdkDropListConnectedTo]="[confirmadaList, canceladaList]" (cdkDropListDropped)="drop($event)">
      @for (item of pendiente; track $index) {
      <div class="example-box" cdkDrag>
        <div class="example-box-content">
          <div>Fecha: {{ item.Fecha }}</div>
          <div>Hora: {{ item.Hora }}</div>
          <div>Estado: {{ item.Estado }}</div>
          <div>Opción: {{ item.Opcion }}</div>
        </div>
      </div>
      }
    </div>
  </div>
  
  <div class="example-container">
    <h2>Confirmadas</h2>
    <div cdkDropList #confirmadaList="cdkDropList" [cdkDropListData]="confirmada" [cdkDropListConnectedTo]="[pendienteList, canceladaList]" (cdkDropListDropped)="drop($event)">
      @for (item of confirmada; track $index) {
      <div class="example-box" cdkDrag>
        <div class="example-box-content">
          <div>Fecha: {{ item.Fecha }}</div>
          <div>Hora: {{ item.Hora }}</div>
          <div>Estado: {{ item.Estado }}</div>
          <div>Opción: {{ item.Opcion }}</div>
        </div>
      </div>
      }
    </div>
  </div>
  
  <div class="example-container">
    <h2>Canceladas</h2>
    <div cdkDropList #canceladaList="cdkDropList" [cdkDropListData]="cancelada" [cdkDropListConnectedTo]="[pendienteList, confirmadaList]" (cdkDropListDropped)="drop($event)">
      @for (item of cancelada; track $index) {
      <div class="example-box" cdkDrag>
        <div class="example-box-content">
          <div>Fecha: {{ item.Fecha }}</div>
          <div>Hora: {{ item.Hora }}</div>
          <div>Estado: {{ item.Estado }}</div>
          <div>Opción: {{ item.Opcion }}</div>
        </div>
      </div>
      }
    </div>
  </div>
  
  <div class="container__drag">
    <button (click)="actualizar()">Actualizar</button>
  </div>
  