<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Paso 1: Selecciona fecha y hora</ng-template>
      <app-date-picker (almacenarFecha)="actualizarFecha($event)"></app-date-picker>
      <app-timepicker (almacenarHora)="actualizarTiempo($event)"></app-timepicker>
      <button mat-button matStepperNext>Siguiente</button>
    </form>
  </mat-step>
  
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Paso 2: Detalles de la cita</ng-template>
      <select [(ngModel)]="datosFormulario.opcion" formControlName="opcion" required>
        <option value="">Selecciona una opción</option>
        <option value="Revision bicicleta">Revisión de bicicleta</option>
        <option value="Reparar pinchazo">Reparar pinchazo</option>
        <option value="Montar componente">Montar componente</option>
        <option value="Revision suspensiones">Revisión de las suspensiones</option>
        <option value="Lavado y engrase">Lavado y engrase</option>
      </select>
      <textarea  [(ngModel)]="datosFormulario.comentario" formControlName="comentario" placeholder="Escriba sus anotaciones"></textarea>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Siguiente</button>
    </form>
  </mat-step>
  
  <mat-step>
    <ng-template matStepLabel>Paso 3: Subir archivo</ng-template>
    <app-subir-archivo (almacenarFichero)="archivoSeleccionado($event)"></app-subir-archivo>
    <button mat-button matStepperPrevious>Anterior</button>
    <button mat-button (click)="enviarFormulario()">Enviar Formulario</button>
  </mat-step>
</mat-horizontal-stepper>