<!-- <mat-grid-list cols="2" rowHeight="1:1">
<mat-grid-tile id="primero">1</mat-grid-tile>
<mat-grid-tile>
    <app-date-picker (almacenarFecha)="actualizarFecha($event)"></app-date-picker>
    <app-timepicker (almacenarHora)="actualizarTiempo($event)"></app-timepicker>
    <input [(ngModel)]="datosFormulario.titulo" placeholder="Escriba algún titulo" />
    <textarea [(ngModel)]="datosFormulario.comentario" placeholder="Escriba sus anotaciones"></textarea>
    <app-subir-archivo (almacenarFichero)="archivoSeleccionado($event)"></app-subir-archivo>

    <button mat-raised-button color="primary" (click)="enviarFormulario()">Enviar Formulario</button>
</mat-grid-tile>

</mat-grid-list> -->

<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Paso 1: Selecciona fecha y hora</ng-template>
        <app-date-picker (almacenarFecha)="actualizarFecha($event)"></app-date-picker>
        <app-timepicker (almacenarHora)="actualizarTiempo($event)"></app-timepicker>
        <button mat-button matStepperNext>Siguiente</button>
      </form>
    </mat-step>
    
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Paso 2: Detalles de la cita</ng-template>
        <input [(ngModel)]="datosFormulario.titulo" formControlName="titulo" placeholder="Escriba algún título" />
        <textarea  [(ngModel)]="datosFormulario.comentario" formControlName="comentario" placeholder="Escriba sus anotaciones"></textarea>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Siguiente</button>
      </form>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Paso 3: Subir archivo</ng-template>
      <app-subir-archivo (almacenarFichero)="archivoSeleccionado($event)"></app-subir-archivo>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button (click)="enviarFormulario()">Enviar Formulario</button>
    </mat-step>
  </mat-horizontal-stepper>


