<mat-card>
  <div *ngIf="cita" class="cita-detalles">
    <button mat-icon-button class="cerrar-detalles-button" (click)="cerrarDetalles()" aria-label="Cerrar detalles">
      <mat-icon>close</mat-icon>
    </button>
    <h3>{{ cita.titulo }}</h3>
    <p><strong>Estado:</strong> {{ cita.estado }}</p>
    <p><strong>Comentarios:</strong> {{ cita.comentario }}</p>
    <p><strong>Fecha programada:</strong> {{ cita.fecha }}</p>
    <p><strong>Hora Programada:</strong> {{ cita.hora }}</p>
    <div *ngIf="cita.imagen_url">
      <p><strong>Imagen Subida:</strong></p>
      <img [src]="cita.imagen_url" alt="Imagen de la cita" style="max-width: 200px; max-height: 200px;">
    </div>
    <div class="button-row">
      <button mat-icon-button (click)="eliminarCita(cita.id_cita_taller)">
        <mat-icon>delete</mat-icon>
      </button>
      <button *ngIf="puedeEditar()" mat-icon-button [routerLink]="['/editarCita', cita.id_cita_taller]" aria-label="Editar cita">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
