@import "@angular/material/prebuilt-themes/indigo-pink.css";

mat-card {
  margin: 30px;
  padding: 20px;
  background-color: yellowgreen;
  box-shadow: 0 4px 8px rgba(181, 18, 18, 0.1);
  transition: 0.3s;
  position: relative;
}

mat-card:hover {
  box-shadow: 0 8px 16px rgba(11, 16, 144, 0.2);
}

h3 {
  color: #3F51B5; /* Un color que combine con el tema indigo-pink */
  margin-bottom: 10px;
}

p {
  margin-bottom: 5px;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}

.detail-button {
  margin-top: 20px;
}

.cerrar-detalles-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
